<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<app-new-title></app-new-title>
<ul>
  <li>{{myObject.age}}</li>
  <li>{{myObject.name}}</li>
  <li *ngFor="let variable of myArr">{{variable}}</li>
</ul>

<button [disabled]=buttonStatus>Does the list look ok? </button>
<button (mouseenter)="clickEvent($event)">Event based button </button>

<p [@myAnimation]='state' (click)="animateMe()">I will animate</p>
